<section id="blog" class="bg-green-100 blog card" data-e2e="blog">
  <h2 class="card-heading">Blog</h2>

  <ul
    class="blog-list lg:grid h-auto lg:grid-cols-2 lg:gap-x-4 lg:grid-flow-row max-h-screen overflow-auto"
  >
    {% for item in blog.posts %}
    <li
      class="blog-item bg-gray-100 hover:bg-white drop-shadow-lg hover:drop-shadow-2xl transition ease-in-out duration-500 my-3 rounded-md"
    >
      <a
        href="{{ item.href }}"
        target="_blank"
        class="text-indigo-600 hover:text-indigo-500"
      >
        <div class="cursor-pointer p-4">
          <div class="flex space-x-2">
            <div class="flex flex-col flex-grow top-level-details">
              <h4 class="text-lg font-semibold">
                {{ item.title }}
              </h4>
              <p class="text-sm text-gray-500">
                Published on {{ item.publishedOn }}
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
