<section
  id="education"
  class="bg-sky-100 education card"
  data-e2e="education"
>
  <h2
    class="card-heading"
  >
    {{ education.header }}
  </h2>

  <ul
    class="education-list lg:grid h-auto lg:grid-cols-2 lg:gap-x-4 lg:grid-flow-row"
  >
    {% for item in education.items %}
    <li
      class="education-item bg-gray-100 drop-shadow-lg transition ease-in-out duration-500 my-3 rounded-md"
    >
      <div class="cursor-pointer p-4">
        <div class="flex space-x-2">
          <div class="flex flex-col flex-grow top-level-details">
            <h4 class="text-base font-semibold">{{ item.institution }}</h4>
            <p class="text-sm text-gray-500">
              {% if item.duration %}
              <span>{{ item.duration }}</span>
              {% endif %} {% if item.location %}
              <span>| {{ item.location }}</span>
              {% endif %}
            </p>
            {% if item.description %}
            <p class="text-sm text-gray-500">
              {{ item.description | safe }}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
