<!-- slider (for above the fold CSS) -->
<style>
  .slider {
    height: 60px;
    overflow: hidden;
  }
  .slider > .item {
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    animation-name: slideUp;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes slideUp {
    0%,
    12.66%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
      transform: translate3d(0, -60px, 0);
    }
    33.32%,
    45.98% {
      transform: translate3d(0, -120px, 0);
    }
    49.98%,
    62.64% {
      transform: translate3d(0, -180px, 0);
    }
    66.64%,
    79.3% {
      transform: translate3d(0, -240px, 0);
    }
    83.3%,
    95.96% {
      transform: translate3d(0, 0, 0);
    }
  }
</style>

<section
  id="jumbotron"
  class="jumbotron-intro card"
  data-e2e="jumbotron"
>
  <h1
    class="text-5xl md:text-6xl font-extrabold text-gray-300 tracking-tight mb-6"
  >
    Hello,
    <span class="text-green-600 block leading-snug md:inline-block">
      I'm {{ profile.nickname }}
    </span>
  </h1>
  <div class="profile-picture mb-2 md:hidden">
    <picture>
      <source
        srcset="{{profile.picture.sm}}?as=webp&width=112"
        type="image/webp"
      />
      <img
        src="{{ profile.picture.sm }}?width=160"
        alt="Profile Picture"
        width="112px"
        height="auto"
      />
    </picture>
  </div>
  <div class="slider sm:mb-10">
    {% for role in profile.highlightedRoles %}
    <h2
      class="item flex text-2xl md:text-4xl font-extrabold text-red-600 tracking-tight mb-10"
    >
      &lt; {{ role }} /&gt;
    </h2>
    {% endfor %}
  </div>
  <div class="action-call flex flex-row space-x-2">
    <a
      href="{{ profile.resumeHref }}"
      target="_blank"
      class="inline-flex items-center rounded-sm text-xs md:text-sm font-semibold whitespace-nowrap p-3 focus:outline-none focus:ring-2 bg-gray-700 text-white hover:bg-gray-800 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-gray-400 transition ease-in-out duration-200 hover:-translate-y-1"
      data-e2e="resume-btn"
      >Resume</a
    >
    <a
      href="{{ profile.contactHref }}"
      class="inline-flex items-center rounded-sm text-xs md:text-sm font-semibold whitespace-nowrap p-3 focus:outline-none focus:ring-2 bg-gray-700 text-white hover:bg-gray-800 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-gray-400 transition ease-in-out duration-200 hover:-translate-y-1"
      data-e2e="lets-talk-btn"
      >Let's Talk</a
    >
  </div>
  <div class="md:hidden mt-5">
    {% include 'socials.njk' %}
  </div>
</section>
