<section id="videos" class="bg-orange-100 videos card" data-e2e="videos">
  <h2 class="card-heading">Videos</h2>
  <ul
    class="videos-list grid h-auto lg:grid-cols-2 lg:grid-flow-row max-h-screen overflow-auto gap-2"
  >
    <div
      class="embed-responsive embed-responsive-4by3 relative w-full overflow-hidden"
      style="padding-top: 75%; border-radius: 5px"
    >
      <iframe
        class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 w-full h-full"
        src="https://www.youtube.com/embed/BTrccTD-d4M?enablejsapi=1&amp;origin=https%3A%2F%2Fmdbootstrap.com"
        allowfullscreen=""
        data-gtm-yt-inspected-2340190_699="true"
        id="240632615"
      ></iframe>
    </div>
    <div
      class="embed-responsive embed-responsive-4by3 relative w-full overflow-hidden"
      style="padding-top: 75%; border-radius: 5px"
    >
      <iframe
        class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 w-full h-full"
        src="https://www.youtube.com/embed/dBoDZX8VeqQ?enablejsapi=1&amp;origin=https%3A%2F%2Fmdbootstrap.com"
        allowfullscreen=""
        data-gtm-yt-inspected-2340190_699="true"
        id="240632615"
      ></iframe>
    </div>
  </ul>
  <a href="https://www.youtube.com/channel/UCARDXFdd7-3mzUYQgZ0b6mw" class="flex items-center justify-center pt-8" target="_blank">
    <div 
      data-mdb-ripple="true" 
      data-mdb-ripple-color="light" 
      class="inline-block px-1 mr-1 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" 
      style="background-color: #ff0000;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="w-8 h-8">
        <path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
      </svg>
    </div>
    @npranto
  </a>
</section>
