<section id="work" class="bg-amber-100 rounded-lg py-10 px-4" data-e2e="work">
  <h2
    class="flex text-3xl md:text-4xl font-extrabold text-gray-900 tracking-tight my-2"
  >
    Work
  </h2>

  <ul class="work-list">
    <li
      class="work-item bg-gray-100 hover:bg-white drop-shadow-lg hover:drop-shadow-2xl transition ease-in-out duration-500 my-3 rounded-md"
      data-e2e="newfold-item"
    >
      <input
        class="hidden"
        type="checkbox"
        id="newfold-input"
        name="newfold-input"
        value="newfold-dropdown-content"
      />
      <label for="newfold-input">
        <div class="cursor-pointer p-4">
          <div class="flex space-x-2">
            <div class="logo flex-shrink-0">
              <picture>
                <source
                  srcset="./assets/images/newfold-logo-48.jpeg?as=webp"
                  type="image/webp"
                  media="(max-width: 768px)"
                />
                <source
                  srcset="./assets/images/newfold-logo-64.jpeg?as=webp"
                  type="image/webp"
                />
                <source
                  srcset="./assets/images/newfold-logo-64.jpeg"
                  type="image/jpeg"
                />
                <img
                  class="object-cover rounded-md"
                  src="./assets/images/newfold-logo-64.jpeg"
                  alt="Newfold Digital"
                />
              </picture>
            </div>
            <div class="flex flex-col flex-grow top-level-details">
              <h4 class="text-base font-semibold">Software Engineer</h4>
              <p class="text-sm text-gray-500">
                Newfold Digital, Burlington, MA
              </p>
              <p class="text-sm text-gray-500">
                Jul 2018 - Jul 2021 | Full-time
              </p>
            </div>
          </div>
          <div
            class="description-and-tech hidden"
            id="newfold-dropdown-content"
            data-e2e="newfold-dropdown-content"
          >
            <ul
              class="descriptions mt-2 text-sm space-y-1 list-disc text-gray-500 mx-6"
            >
              <li>
                Built and maintained robust, reusable e-commerce UI components
                using React and Redux to ease feature development and
                integration for multiple internal teams
              </li>
              <li>
                Added over 50+ bug-fixes and features along with unit tests to
                enhance and improve active single page application (SPA) for
                customer registration and checkout
              </li>
              <li>
                Integrated Contentful CMS to dynamically prefetch product
                metadata to enable marketing teams to make custom changes
                quickly without code releases
              </li>
              <li>
                Frequently collaborated with internal front and backend services
                teams to integrate new products and payment gateways
              </li>
              <li>
                Worked on a fast-paced agile environment with multiple releases
                per sprint basis
              </li>
            </ul>
            <div class="technologies flex flex-wrap my-2 gap-2">
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                React
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Redux
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Sass
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Webpack
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Contentful
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Node.js
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Git
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                JIRA
              </span>
            </div>
          </div>
        </div>
      </label>
    </li>

    <li
      class="work-item bg-gray-100 hover:bg-white drop-shadow-lg hover:drop-shadow-2xl transition ease-in-out duration-500 p-4 my-3 rounded-md"
      data-e2e="lexia-item"
    >
      <input
        class="hidden"
        type="checkbox"
        id="lexia-input"
        name="lexia-input"
        value="lexia-dropdown-content"
      />
      <label for="lexia-input">
        <div class="cursor-pointer">
          <div class="flex space-x-2">
            <div class="logo flex-shrink-0">
              <picture>
                <source
                  srcset="./assets/images/lexia-logo-48.jpeg?as=webp"
                  type="image/webp"
                  media="(max-width: 768px)"
                />
                <source
                  srcset="./assets/images/lexia-logo-64.jpeg?as=webp"
                  type="image/webp"
                />
                <source
                  srcset="./assets/images/lexia-logo-48.jpeg"
                  media="(max-width: 768px)"
                />
                <img
                  class="object-cover rounded-md"
                  src="./assets/images/lexia-logo-64.jpeg"
                  alt="Lexia Learning"
                />
              </picture>
            </div>
            <div class="flex flex-col flex-grow top-level-details">
              <h4 class="text-base font-semibold">Software Engineer</h4>
              <p class="text-sm text-gray-500">Lexia Learning, Concord, MA</p>
              <p class="text-sm text-gray-500">
                Sep - Dec 2016 & Jun - Aug 2017 | Contract
              </p>
            </div>
          </div>
          <div
            class="description-and-tech hidden"
            id="lexia-dropdown-content"
            data-e2e="lexia-dropdown-content"
          >
            <ul
              class="descriptions mt-2 text-sm space-y-1 list-disc text-gray-500 mx-6"
            >
              <li>
                Built 20+ JSON schemas to validate and structure large, nested
                JSON objects, or lesson tasks for production-level reading
                software program
              </li>
              <li>
                Written various JavaScript functions or snippets to automate
                JSON file modifications to simplify and speed up application
                content updates
              </li>
            </ul>
            <div class="technologies flex flex-wrap my-2 gap-2">
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                JavaScript
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                JSON Schema
              </span>
              <span
                class="px-1 rounded-sm inline text-xs font-medium text-gray-50 bg-gray-500"
              >
                Git
              </span>
            </div>
          </div>
        </div>
      </label>
    </li>
  </ul>
</section>
