/* fonts */
@import url('/vendor/fonts/font.css');

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
:root {
	/* --foreground-rgb: 0, 0, 0; */
	/* --background-start-rgb: 214, 219, 220; */
	/* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --foreground-rgb: 255, 255, 255; */
		/* --background-start-rgb: 0, 0, 0; */
		/* --background-end-rgb: 0, 0, 0; */
	}
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(
		174.2deg,
		rgba(255, 244, 228, 0.3) 7.1%,
		rgba(240, 246, 238, 0.3) 67.4%
	);
	color: rgb(var(--foreground-rgb));
}

@layer utilities {
	.paragraph-links {
		@apply border-b-2 border-gray-500 hover:text-gray-700 hover:border-gray-700;
	}
}
