<section
  id="about"
  class="about bg-red-100 card"
  data-e2e="about"
>
  <h2
    class="card-heading"
  >
    {{ about.header }}
  </h2>

  <div class="text-base text-gray-500">
    {{ about.focusContent | safe }}
  </div>

  <div
    id="read-more-content"
    class="hidden transition ease-in-out"
    data-e2e="read-more-content"
  >
    {{ about.readMoreContent | safe }}
  </div>

  <button
    type="button"
    id="read-more-btn"
    class="flex space-x-1 font-medium text-indigo-600 hover:text-indigo-500"
    data-e2e="read-more-btn"
  >
    Read more
    <span class="arrow-down-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-chevron-down"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </span>
  </button>

  <button
    type="button"
    id="collapse-read-more-btn"
    class="flex space-x-1 font-medium text-indigo-600 hover:text-indigo-500 hidden"
    data-e2e="collapse-btn"
  >
    Collapse
    <span class="arrow-up-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-chevron-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 15 12 9 18 15"></polyline>
      </svg>
    </span>
  </button>
</section>
