/*apply global styles to application here*/

$header-color: deeppink;
$pages-color: white;
$footer-color: #1e88e5;

$header-height: 7.5vh;
$pages-height: 80vh;
$footer-height: 7.5vh;

.pacifico{
    font-family: 'Pacifico', cursive;
}

